/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato');
* {
  font-family: 'Lato', sans-serif;
}
html, body {
  height: 100%;
}
body{
  margin: 0
}
#sidebar-title[_ngcontent-c2], #sidebar-title[_ngcontent-c12] {
  font-family: 'Alfa Slab One', sans-serif !important;
}

.sidebar-title  {
  color: #fff;
  font-family: 'Alfa Slab One', sans-serif !important;
}
