/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic|Lato');
* {
  font-family: 'Lato', sans-serif;
}
html, body {
  height: 100%;
}
body{
  margin: 0
}
#sidebar-title {
  font-family: 'Alfa Slab One', sans-serif;
}
.sidebar-title  {
  color: #fff;
  font-family: 'Alfa Slab One', sans-serif;
}
