<mat-toolbar color="primary">
      <span><a routerLink='/recipes' id='sidebar-title'>Cultured</a></span>
      <!--<a routerLink="/recipes" routerLinkActive="active" mat-list-item>Recipes</a>-->
      <span class='spacer'></span>
      <button mat-raised-button routerLink="/register" color='accent'>Join Free</button>
      <a routerLink="/login" routerLinkActive="active" mat-list-item>Log In</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
<app-footer></app-footer>
