.spacer {
  /* This fills the remaining space, by using flexbox.
	 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar a {
  margin: 0 10px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#sidebar-title {
  /*font-family: 'Alfa Slab One', cursive;*/
  /*color: rgba(0, 0, 0, 0.87);*/
  color: #fff;
}
