
 <mat-toolbar>
   <mat-toolbar-row>

     <mat-nav-list dense><span>First Row</span>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
   </mat-nav-list>


     <mat-nav-list dense><span>Second Row</span>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
     <a mat-list-item href="/recipes" > This is a link </a>
   </mat-nav-list>
   </mat-toolbar-row>
 </mat-toolbar>

