.grid-container {
  margin: 20px;
}

.mat-h1 {
  text-transform: capitalize;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.recipe-header-image {
  background-size: cover;
  background-clip: border-box;
}

.mat-grid-list {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

mat-card-title {
  text-transform: capitalize;
}

mat-card-subtitle {
  text-transform: capitalize;
  font-style: italic;
}

mat-card-subtitle a {
  color: rgba(0, 0, 0, 0.54);
}

[mat-card-image] {
  /*max-height: 50%;*/
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

/*Favorite button overlay*/

.favorite-button {
  position: absolute;
  z-index: 90000;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: auto;
}
