<div class="grid-container">
  <h1 class="mat-h1">{{recipes[0].category}}</h1>
  <!--The rowHeight ratio is column-width:row-height, and must be passed in with a colon-->
  <!--May also assign rowHeight as 'fit'. Please note the height of the grid-list or its container must be set.-->
  <mat-grid-list cols="4" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="recipe-card dashboard-card">
        <a routerLink='/recipes/{{card.id}}'><img mat-card-image [src]='(card.imagePath)' [alt]='card.title' ></a>

        <!--<mat-card-header>-->

          <!--<div mat-card-avatar class="recipe-header-image" [style.backgroundImage]="'url('+ (card.authorAvatar) +')'"></div>-->
          <!--<mat-card-title>{{card.title}}</mat-card-title>-->
          <!--TODO update this user id-->
          <!--<mat-card-subtitle>By <a routerLink='/users/136'>{{card.author}}</a></mat-card-subtitle>-->
        <!--<button mat-icon-button color="accent">-->
          <!--<mat-icon aria-label="Favorite this button">favorite</mat-icon>-->
        <!--</button>-->
        <!--</mat-card-header>-->

        <mat-card-content>

          <a routerLink='/recipes/{{card.id}}'><mat-card-title class='truncate'>{{card.title}}{{card.title}}{{card.title}}{{card.title}}{{card.title}}{{card.title}}{{card.title}}{{card.title}}{{card.title}}</mat-card-title></a>
          <mat-card-subtitle>By <a routerLink='/users/136'>{{card.author}}</a></mat-card-subtitle>

          <p>
            {{card.description}}
          </p>
          <button mat-icon-button class='favorite-button' color="accent">
            <mat-icon aria-label="Favorite this button">favorite</mat-icon>
          </button>

        </mat-card-content>
      </mat-card>

      <!--<mat-card class="dashboard-card">-->
        <!--<mat-card-header>-->
          <!--<mat-card-title>-->
            <!--{{card.title}}-->
            <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
              <!--<mat-icon>more_vert</mat-icon>-->
            <!--</button>-->
            <!--<mat-menu #menu="matMenu" xPosition="before">-->
              <!--<button mat-menu-item>Expand</button>-->
              <!--<button mat-menu-item>Remove</button>-->
            <!--</mat-menu>-->
          <!--</mat-card-title>-->
        <!--</mat-card-header>-->
        <!--<mat-card-content class="dashboard-card-content">-->
          <!--<div>Card Content Here</div>-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    </mat-grid-tile>
  </mat-grid-list>
</div>
