<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--Search bar here-->
      <a routerLink="/recipes/browse/veggies" mat-list-item>Veggies</a>
      <a routerLink="/recipes/browse/fruits" mat-list-item>Fruits</a>
      <a routerLink="/recipes/browse/legumes" mat-list-item>Legumes</a>
      <a routerLink="/recipes/browse/grains" mat-list-item>Grains</a>
      <a routerLink="/recipes/browse/dairy" mat-list-item>Dairy</a>
      <a routerLink="/recipes/browse/soft-drinks" mat-list-item>Soft Drinks</a>
      <a routerLink="/recipes/browse/vinegar" mat-list-item>Vinegar</a>
      <a routerLink="/recipes/browse/alcohol" mat-list-item>Alcohol</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/">Cultured</a></span>
        <a routerLink="/recipes" routerLinkActive="active" mat-list-item>Recipes</a>
      <button mat-raised-button routerLink="/recipes/create" color='accent'>Create Recipe</button>
        <span class='spacer'></span>
        <a routerLink="/recipes/self" routerLinkActive="active" mat-list-item>My Recipes</a>
        <a routerLink="/users/self" routerLinkActive="active" mat-list-item>Profile</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
