<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--Search bar here-->
      <a mat-list-item href="#">Veggies</a>
      <a mat-list-item href="#">Fruits</a>
      <a mat-list-item href="#">Legumes</a>
      <a mat-list-item href="#">Grains</a>
      <a mat-list-item href="#">Dairy</a>
      <a mat-list-item href="#">Soft Drinks</a>
      <a mat-list-item href="#">Vinegar</a>
      <a mat-list-item href="#">Alcohol</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cultured</span>
        <a routerLink="/heroes" routerLinkActive="active" mat-list-item>Recipes</a>
        <a routerLink="/heroes" routerLinkActive="active" mat-list-item>Ingredients</a>
        <a routerLink="/heroes" routerLinkActive="active" mat-list-item>Create Recipe</a>
        <span class='spacer'></span>
        <a routerLink="/heroes" routerLinkActive="active" mat-list-item>My Recipes</a>
        <a routerLink="/heroes" routerLinkActive="active" mat-list-item>Profile</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
